.times{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5em auto 1em auto;
    height: 100%
}

.timeContainer{
    background-color: rgb(171, 223, 219);
    margin: 2em;
    padding: 0.5em;
    border-radius: 2em;
}

#nextHour{
    margin: 0em;
    padding: 0em;
}

.upNext{
    margin: .5em 0 0 0;
    padding: 0em;
}

.tempBox{
    border-right: .2em dotted black;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.tempBoxLast{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.time{
    margin: 0em;
    border-bottom: 1px solid black;
    color: none;
}

.hourTemp{
    margin: 0em;
}

.dayTemp{
    margin: 0em;
}

hr{
    margin: 0em;
}


img{
    margin: 0em;
    width: 75%;
}

#topBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em 15% 1em 15% 
}

#thirdBox p{
    margin: 0em;
}

#thirdBox h1{
    margin: 0em;
}

#thirdBox{
    width:30%
}

#secondBox{
    width:30%;
    border-right: .25em dotted black;
    border-left: .25em dotted black;
}

#secondBox img{
    width:50%
}

#secondBox p{
    margin: 0em;
}

#firstBox{
    width:30%
}

h3{
    margin:0em;
}

.upNext{
    text-align: left;
}