#times{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em auto 1em auto;
    height: 100%
}

#timeContainer{
    background-color: aqua;
    margin: 0 2em 0 2em;
    padding: 0.5em
}

#nextHour{
    margin: 0em;
    padding: 0em;
}

.tempBox{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.time{
    margin: 0em;
}

hr{
    margin: 0em
}

